BASE_POSTGRES_USER=postgres

USER_POSTGRES_PASSWORD=change_me
KC_POSTGRES_PASSWORD=change_me
KC_ADMIN_PASSWORD=change_me
REDIS_PASSWORD=change_me
GF_SECURITY_ADMIN_PASSWORD=change_me

PROMETHEUS_URL=http://prometheus:9090/api/v1/write
LOKI_URL=http://loki:3100/loki/api/v1/push
TEMPO_URL=http://tempo:4317